node_modules/

# Custom ESLint rules
.eslintplugin/*
!.eslintplugin/index.ts
!.eslintplugin/tsconfig.json

index/*.js
index/*.map
index/*.d.ts
index/*.mjs

api/**/*.js
api/**/*.map
api/**/*.d.ts
api/**/*.mjs

eventsub/**/*.js
eventsub/**/*.map
eventsub/**/*.d.ts
eventsub/**/*.mjs

# macOS files
.DS_Store